{% extends 'partials/base.html.twig' %}


{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}


{% block content %}
<div class="prose prose-sm md:prose lg:prose-lg xl:prose-xl 2xl:prose-2xl max-w-none mx-auto" style="min-height:60vh;">
    {{ page.content|raw }}
</div>
{% endblock %}
