{% extends 'partials/base.html.twig' %}


{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}


{% block content %}
<div style=min-height:60vh;">
    {{ page.content }}
</div>
{% endblock %}
