{% extends 'partials/base.html.twig' %}

{% block content %}
     <div style=height:60vh;">


    <div class="flex flex-col">
        <div class="w-full">
            <img src="{{ page.media['robot.jpg'].url }}" alt="">
        </div>
        <div class="w-full my-3">
            {{ page.content }}
        </div>
        <div class="w-full mt-3 mb-12">
            {% include "forms/form.html.twig" %}
        </div>
    </div>
     </div>
{% endblock %}
